.vscode/
.idea/
__pycache__
server/.mvn/wrapper/

cli-client/.env
cli-client/.gsheets_access_token.json

cli-client/player-ranking.csv
cli-client/player-ranking-history.csv
cli-client/player-ranking-history.png
cli-client/FirstSighting.png
cli-client/PlayerRanking.lnk

